body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr{
  width: 500px;
}



#board{
  width: 400px;
  height: 400px;
  background-color: #b8e4c7;
  border: 6px solid #555;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

audio{
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats{
  background-color: rgb(61, 187, 130);
  border: 3px solid #070a03;
  width: 300px;
  height: 300px;
  display: block; 
}

.tile{
  width: 90px;
  height: 90px;
  border-radius: 3px;
  border: 5px solid #555;
  border-radius: 7px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Colores de los cuadros*/
.x2 {
  background: #e93a63;
  color: setFontColor(#EF476F);
}

.x4 {
  background: #7274ee;
  color: setFontColor(#7274ee);
}

.x8 {
  background:#1B9AAA;
  color: setFontColor(#1B9AAA);
}

.x16{
  background:#06D6A0;
  color: setFontColor(#06D6A0);
}

.x32 {
  background: #f892aa;
  color: setFontColor(#f892aa);
}

.x64 {
  background: #22c0d4;
  color: setFontColor(#22c0d4);
}

.x128 {
  background: #1af9bf;
  color: setFontColor(#1af9bf);
}

.x256 {
  background:#ffdc8b;
  color: setFontColor(#ffdc8b);
}

.x512 {
  background: #ec1044;
  color: setFontColor(#ec1044);
}

.x1024 {
  background: darken(#167b88);
  color: setFontColor(#167b88);
}

.x2048 {
  background: darken(#06D6A0);
  color: setFontColor(#27b189);
}
